:root {
  --primary-font: "Roboto", sans-serif;
  --primary-color: #434455;
  --secondary-color: #2e2f42;
  --logo-color: #4d5ae5;
  --card-background: #ffffff;
  --background-color: #ffffff;
  --footer-text: #f4f4fd;
  --link-hover: #404bbf;
}
body {
  font-family: var(--primary-font);
  background-color: var(--background-color);
  color: var(--primary-color);
}
/*reset*/
ul, ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
a {
    text-decoration: none;
}

/*header*/
.page-header{
    border-bottom: 1px solid #e7e9fc;
}
.header-container{
    display: flex;
    align-items: center;
}
.header-nave{
    display: flex;
    align-items: center;
}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-logo{
    padding: 24px 0;
    margin-right: 76px;
}
.header-logo .logo-part{
    color: #2e2f42;
}
.nav-list{
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav-link{
    padding: 24px 0;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.nav-link:hover,.nav-link:focus,.contacts-link:hover,.contacts-link:focus{
    color:#404bbf;
}
.contacts-list{
    display: flex;
    align-items: center;
    gap: 40px;
}
.contacts-link{
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.contacts{
    font-style:normal;
    margin-left: auto;
}